/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #000000;
}

.container {
  width:100%; /*full page*/
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
/*
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
*/
